*{
	margin:0;
	padding:0;
	font-family:"微软雅黑";

}
a{
	text-decoration:none;
	color:black;
}
a:hover{
	color:orange;
}
.wlc-tong{
	width:100%;
	height:58px;
	background:#F6F6F6;
	/*border:1px solid red;*/
}
.wlc-header{
	width:1200px;
	height:58px;
	background:#F6F6F6;
	margin:auto;
	/*outline:1px solid red;*/
}
.wlc-header ul{
	list-style:none;
}
.wlc-header ul li{
	display:inline-block;
	line-height:58px;
	margin-right:15px;
}
.wlc-header ul span{
	float:right;
}
.wlc-header ul li:last-child{
	margin-right:0;
}
/*56px*/

.wlc-conter1{    /*内宽1*/
	width:1200px;
	height:88px;
	margin:auto;
	background:white;
	/*outline:1px solid red;*/
}
.wlc-conter1 .wlc-tu1{
   width:200px;
   height:100%;
   float:left;
}
.wlc-conter1 .wlc-tu1 img{
	width:100%;
	height:100%;
}
/*84*40的购物车*/
.wlc-shop{
	width:84px;
	height:40px;
	background:red;
	text-align:center;
	line-height:40px;
	float:right;
	color:white;
	margin-top:16px;
}
/*54*40* 搜索*/
.wlc-sou{
	width:54px;
	height:40px;
	background:red;
	text-align:center;
	line-height:40px;
	color:white;
	float:right;
    margin-right:7px;
    margin-top:16px;
}
/*190*38px*/
.f-orm1 input{
	width:190px;
	height:36px;
	float:right;
	margin-top:16px;
}
/*124*50px*/
.wlc-ico1{
    width:124px;
    height:38px;
    /*outline:1px solid red;*/
    float:right;
    margin-right:42px;
    font-size:8px;
    display:flex;
    margin-top:16px;

}
.wlc-ico1 .icoone{
	width:50%;
	height:100%;
	/*outline:1px solid red;*/
	display:flex;
    flex-direction:column;
}
.wlc-ico1 .icoone i{
    margin:auto;
    font-size:16px !important;
    color:orange;
}
.wlc-ico1 .icoone span{
    text-align:center;
}
/*内容2*/
.wlc-conter2t{
	width:100%;
	height:57px;
	background:red;
}
.wlc-conter2t .wlc-conter2{
	width:1200px;
	height:100%;
	margin:auto;
	display:flex;
}
.wlc-conter2t .wlc-conter2 ul{
	width:100%;
	height:100%;
	list-style:none;
    display:flex;
    justify-content:space-between;
    align-items:center;
    color:white;
}
/*54*/
.wlc-conter3t{
	width:100%;
	height:54px;
	border-bottom:1px solid gray;
}
.wlc-conter4{
	width:1200px;
	height:57px;
	/*background:#708090;*/
	margin:auto;
    margin-top:25px;
    display:flex;
    flex-direction:row-reverse;
}
.wlc-conter4 .conter4-one{
	width:;
	height:100%;
	float:right;
    display:flex;
    flex-direction:column;
    text-align:center;
    justify-content:center;
}
.wlc-xian{
	width:100px;
	height:1px;
	background:gray;
	margin-top:18px;
}
.wlc-xian{
	opacity:0.5;
}
.conter4-one:first-child{
	opacity:0.5;
}
.conter4-one:nth-child(3){
	opacity:0.5;
}
/*60px*/
.wlc-conter5{
	width:1200px;
	height:88px;
	margin:auto;
	margin-top:60px;
	/*outline:1px solid red;*/
	display:flex;
	position:relative;
	justify-content:space-between;
}

/*88height*/
.wlc-conter5 .wlc-conter5-ico i{
	font-size:22px;
	line-height:88px;
	color:orange;
	margin-left:15px;
}
.wlc-conter5 .wlc-conter5-img{
	width:;
	height:;
	outline:1px solid #C1C1C1;

}
.wlc-conter5 .wlc-conter5-img img{
	/*display:inline-block;*/
	margin:0 15px;
}
.wlc-about{
	width:243px;
	height:100%;
	/*background:gray;*/
	padding:0 5px;
	box-sizing:border-box;
	line-height:88px;
	/*border-bottom:1px solid gray;*/
}
.wlc-conter5 .xiahuaxian{
	width:950px;
	height:88px;
	border-bottom:1px solid gray;
	display:flex;
}
.wlc-text{
	width:;
	height:100%;
	/*outline:1px solid red;*/
	line-height:88px;
}
.wlc-text span{
     color:gray;
}
.wlc-kuang{
	width:;
	height:88px;
	display:flex;
	align-items:center;
	flex-direction:row-reverse;
}
.wlc-kuang .kuang1{
	width:31px;
	height:31px;
	outline:1px solid gray;
	margin:0 5px;
	text-align:center;
	line-height:31px;
	font-size:16px;
}
.kuang1:nth-child(2){
	margin-right:0;
}
/*133*31*/
.wlc-kuang .kuang3{
	width:150px;
	height:31px;
	outline:1px solid gray;
	margin-left:15px;
	text-align: center;
	line-height:31px;
}
.wlc-chima{
	width:;
	height:100%;
	padding:0 5px;
	box-sizing:border-box;
	line-height:88px;
	color:gray;
	text-align:right;
}
#sele{
	width:125px;
	height:31px;
	/*outline:1px solid red;*/
    margin-left:15px;
    list-style:none;
}
#sele option{
	border:1px solid black;
}
.wlc-fd{
	width:0px;
	height:430px;
	float:left;
	border-right:1px solid gray;
	position:absolute;
	left:1050px;
	opacity:0.5;
}
.wlc-zhifu{
	width:;
	height:88px;
	/*outline:1px solid gray;*/
	font-size:16px;
	margin-left:80px;
	/*text-align:center;*/
	line-height:88px;
}
.wlc-zhifu i{
	color:#DE5B25;
	font-size:26px;
}
.wlc-zhifu span{
	color:red;
}
.wlc-conter6{
	width:1200px;
	height:;
	margin:auto;
	padding-left:15px;
	box-sizing:border-box;
	margin-top:30px;
	font-size:14px;
	color:red;
}
.wlc-conter7{
	width:1200px;
	height:;
	margin:auto;

	/*outline:1px solid red;*/
	font-size:22px;
	text-align:right;
}
.wlc-conter8{
	width:1200px;
	height:;
	margin:auto;
	/*outline:1px solid red;*/
    margin-top:15px;
	line-height:auto;
}
.wlc-conter8 i{
	font-size:26px;
	color:orange;
	margin:15px 15px;
}
.wlc-conter8 span:last-child{
	float:right;
	font-size:26px;
	color:red;
}
.wlc-conter9{
	width: 1200px;
	height:;
	/*outline:1px solid red;*/
	margin:auto;
	margin-top:20px;
	margin-bottom:50px;
	display:flex;
	justify-content:space-between;

}
.wlc-conter9 .conter9-one{
	width:220px;
	height:50px;
	/*border:1px solid red;*/
	font-size:22px;
	background:red;
	color:white;
	/*text-align:center;*/
	line-height:50px;
}
.wlc-sanjiao{
	width:0;
	height:0;
	border-top:10px solid transparent;
	border-bottom:10px solid transparent;
	border-right:20px solid white;
	float:left;
	margin:15px 10px 0 60px;
}
.wlc-sanjiao2{
	width:0;
	height:0;
	border-top:10px solid transparent;
	border-bottom:10px solid transparent;
	border-left:20px solid white;
	float:right;
	margin:15px 60px 0 10px;
}
.wlc-conter9 .conter9-one:nth-child(2){
	background:red;
	text-align:right;

}
hr{
	margin-top:50px;
}
.wlc-conter11{
	width:1200px;
	height:;
	/*border:1px solid red;*/
	margin:auto;
	margin-top:50px;
	display:flex;
}
.wlc-box1{
	width:;
	height:;
	display:flex;
	flex-direction:column;

}
/*365*95*/
.wlc-box1 .tulogo{
	width:365px;
	height:120px;
	/*outline:1px solid red;*/
}
.wlc-box1 .tulogo img{
	width:100%;
	height:100%;
}
/*240*40*/
.wlc-box1 .hoot{
     width:220px;
     height:40px;
     background:red;
     color:white;
     text-align:center;
     line-height:40px;
     margin-left:75px;
}
.wlc-box2{
	width:;
	height:;
	display:flex;
	flex-direction:column;
}
.wlc-box2 .wlc-box3{
	width:;
	height:;
	display:flex;

}
.wlc-box3 .erwei{
	width:76px;
	height:76px;
	display:flex;
	flex-direction:column;
	text-align:center; 
	margin-left:30px;
}
.wlc-box3 .erwei:last-child{
	margin-left:50px;
}
.erwei span{
	margin-top:15px;
}
.wlc-box2 .wlc-small{
	margin-left:120px;
	margin-top:55px;
}
.wlc-box3{
	width:;
	height:;
	margin-left:90px;
}
.wlc-box4{
	width:;
	height:;
	margin-left:150px;
}
.wlc-box4 ul{
	list-style: none;
}
.wlc-box4 ul li:first-child{
	font-size:30px;
	margin-top:0;
}
.wlc-box4 ul li{
	margin-top:8px;
	font-size:14px;
}
.wlc-conter2t:last-child{
	margin-top:50px;
	background:#E9E5E6;
    margin-bottom:50px;
}
.wlc-conter2t:last-child .wlc-conter2 ul{
	color:black;
}
.wlc-shuiping{
	width:100%;
	height:;
	outline:1px solid gray;
	margin-bottom:50px;
}
